<div class="nine columns">
  {{outlet}}
</div>
<!-- Nav Sidebar -->
<!-- This is source ordered to be pulled to the left on larger screens -->
<div class="three columns">
  <div class="panel">
    {{outlet sidebar}}
    <hr />
    <dl class="vertical tabs">
      {{#each group in controller}}
        <dd {{bindAttr class="group.isActive:active"}}><a {{action showGroup group href=true}}>{{group.full_name}}</a></dd>
      {{/each}}
    </dl>
  </div>
</div>