{{#each msg in controller}}
  <div class="row">
    <div class="two columns">
      {{#if msg.sender}}
        <img {{bindAttr src="msg.sender.mugshot_url"}} />
      {{else}}
        <img src="http://placehold.it/48x48&text=[img]" />
      {{/if}}
    </div>
    <div class="six columns">
      <p>
        <strong>
          {{#if msg.sender}}
            {{msg.sender.full_name}}
          {{/if}}
           said:</strong> 
        {{{textToBr msg}}}
      </p>
      <!--<ul class="link-list">
        <li><a href="">Reply</a></li>
        <li><a href="">Share</a></li>
      </ul>-->
      
      {{#if msg.messages}}
        <h6>{{msg.messages.length}} Replies</h6>
        {{#each replMsg in msg.messages}}
          <div class="row">
            <div class="two columns">
              {{#if replMsg.sender}}
                <img {{bindAttr src="replMsg.sender.mugshot_url"}} />
              {{else}}
                <img src="http://placehold.it/48x48&text=[img]" />
              {{/if}}
            </div>
            <div class="ten columns">
              <p>
                <strong>
                  {{#if replMsg.sender}}
                    {{replMsg.sender.full_name}}
                  {{/if}}
                   said:</strong>
                {{{textToBr replMsg}}}
              </p>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
    <div class="four columns">
      <div class="panel">
        <p><strong>Current Tag</strong>:<span class="label">{{getCurrentTag msg}}</span></p>
      </div>
    </div>
  </div>

  <hr />
{{/each}}