<h3>Tags</h3>
<div class="row">
  <div class="twelve columns">
    <ul id="tagsList">
      {{#each tagObject in controller}}
        <li {{bindAttr data-tag-id="tagObject.id"}}>
          <div {{bindAttr class=":main_box tagObject.isEditing:editing tagObject.isDeleting:deleting"}}>
            {{#unless tagObject.isNew}}
              <div class="main_view">
                {{tagObject.name}} ({{tagObject.open_tag}} => {{tagObject.close_tag}}), {{tagObject.days}} deadline
                <a href="#" {{action openEditMode tagObject target="controller"}}>Edit</a>
                <a href="#" {{action openDeleteMode tagObject target="controller"}}>Delete</a>
              </div>
            {{/unless}}
            <div class="edit_view">
              {{#if tagObject.isNew}}
                <form {{action addTag tagObject on="submit" target="controller"}}>
              {{else}}
                <form {{action editTag tagObject on="submit" target="controller"}}>
              {{/if}}
              <form {{action savePost content on="submit"}}>
                <div class="row">
                  <div class="six columns">
                    <label>Name</label>
                    {{view Ember.TextField valueBinding="tagObject.name" placeholder="Name"}}
                  </div>
                  <div class="three columns">
                    <label>Open Tag</label>
                    {{view Ember.TextField valueBinding="tagObject.open_tag" placeholder="Open Tag"}}
                  </div>
                  <div class="three columns">
                    <label>Close Tag</label>
                    {{view Ember.TextField valueBinding="tagObject.close_tag" placeholder="Close Tag"}}
                  </div>
                </div>
                <div class="row">
                  <div class="three columns">
                    <label>Days for deadline</label>
                    {{view App.NumberField valueBinding="tagObject.days" placeholder="Days for deadline"}}
                  </div>
                </div>
                <div class="row">
                  <div class="six columns">
                    {{#if tagObject.isNew}}
                      <input type="submit" class="button" value="Add" />
                      <a href="#" {{action deleteNewTag tagObject target="controller"}}>Cancel</a>
                    {{else}}
                      <input type="submit" class="button" value="Edit" />
                      <a href="#" {{action closeAllMode tagObject target="controller"}}>Cancel</a>
                    {{/if}}
                  </div>
                </div>
              </form>
            </div>
            <div class="delete_view">
              A you sure want delete this tag?
              <a class="alert button" href="#" {{action deleteTag tagObject target="controller"}}>Confirm delete</a>
              <a href="#" {{action closeAllMode tagObject target="controller"}}>Cancel</a>
            </div>
          </div>
        </li>
      {{/each}}
    </ol>
    <a class="button" href="#" {{action addNewTag target="controller"}}>Add tag</a>
  </div>
</div>
